.header {
    background:linear-gradient(rgba(0, 255, 195, 0.5),transparent);
    display: flex;
    align-items: center;
    height: 80px;
}

.header-name {
    float: left;
    font-family: "Chopsic";
    padding-right: 10px;
    padding-top: 10px;
    font-weight: bold;
    display: flex;
}

.navbar {
    font-size: 20px;
    font-family: "Backslash";
    position: absolute;
    right: 0;
}

@media (prefers-reduced-motion: no-preference) {
    .header-logo {
        width: 70px;
        align-items: center;
        margin: 5px;
        animation: App-logo-spin infinite 1s linear;
    }
}