.features-text {
    margin-top: -5px;
    font-family: 'Ramus Light';
    font-size: 30px;
    padding-left: 20px;
}

.features-title {
    margin-top: 10px;
    font-family: 'Ramus Light';
    font-size: 50px;
    padding-left: 30px;
    font-weight: bold;
}