.userhome-global {
    padding-left: 10px;
}

.userhome-title {
    font-weight: bold;
    font-size: 25px;
}

.userhome-profile-picture {
    width: 100px;
}

.userhome-profile-content {
    display: flex;
}

.userhome-profile-content > div {
    padding-left: 10px;
}

.userhome-profile-username {
    font-weight: bold;
}