.title {
    font-weight: bold;
    font-size: 25px;
}

.global-padding {
    padding-left: 10px;
}

.custom-link {
    font-weight: bold;
    color: black;
}

@font-face {
    font-family: "Backslash";   /*Can be any text*/
    src: local("AirbnbCerealLight"),
      url("../font/Backslash-RpJol.otf") format("truetype");
  }

@font-face {
    font-family: "Sparky Stones";   /*Can be any text*/
    src: local("AirbnbCerealLight"),
      url("../font/SparkyStonesRegular-BW6ld.ttf") format("truetype");
  }

@font-face {
    font-family: "Ramus Light";   /*Can be any text*/
    src: local("AirbnbCerealLight"),
      url("../font/RamusLight-p7vor.ttf") format("truetype");
  }

@font-face {
    font-family: "Chopsic";   /*Can be any text*/
    src: local("AirbnbCerealLight"),
      url("../font/Chopsic-K6Dp.ttf") format("truetype");
  }