.footer-text {
    background-color: rgb(118, 118, 118);
    font-weight: bold;
    color: white;
    width: 100%;
    position: static;
    bottom: 0;
    padding-left: 10px;
    padding-bottom: 5px;
}