.userhome-global {
    padding-left: 10px;
}

.userhome-profile-picture {
    width: 100px;
}

.userhome-profile-content {
    display: flex;
}

.userhome-profile-content > div {
    padding-left: 10px;
}

.userhome-profile-username {
    font-weight: bold;
}

.account-table {
    background: linear-gradient(#7CECE4, transparent);
    border-radius: 20px;
}
.account-balance{
    text-align: right;
    padding-left: 100px;
}
.account-number{
    text-align: center;
    margin-left: 50%;
}

.account-info{
    display: flex;
    align-items: right;
}
td {
    padding-left: 20px;
    padding-right: 20px;
  }
th {
    padding-left: 20px;
}  